{% extends "nuts/nuts_base.html" %}
{% load staticfiles %}

{% load i18n %}

{% block title %}Nuts Password Reset Done{% endblock %}
{% block css %}
<link href="{% static "nuts/css/account_manage.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="{% static 'nuts/css/AdminLTE.min.css' %}" rel="stylesheet">
    <link href="{% static 'nuts/css/chat.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block container %}
<div class="row password-reset-div">
<h4>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered, you should receive them shortly." %}</h4>

<h4>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</h4>
</div>

{% endblock %}


