{% extends "nuts/nuts_base.html" %}
{% load staticfiles %}

{% load i18n %}

{% block title %}Nuts Password Reset Complete{% endblock %}
{% block css %}
<link href="{% static "nuts/css/account_manage.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="{% static 'nuts/css/AdminLTE.min.css' %}" rel="stylesheet">
    <link href="{% static 'nuts/css/chat.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block container %}

<div class="row password-reset-div">
<h4>{% trans "Your password has been set.  You may go ahead and log in now." %}</h4>

<h4><a href="{{ login_url }}">{% trans 'Log in' %}</a></h4>
</div>
{% endblock %}
