{% extends "nuts/nuts_base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block title %}Nuts Password Reset{% endblock %}
{% block css %}
<link href="{% static "nuts/css/account_manage.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="{% static 'nuts/css/AdminLTE.min.css' %}" rel="stylesheet">
    <link href="{% static 'nuts/css/chat.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block container %}
<div class="row password-reset-div">
<h4>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</h4>

<form method="post">{% csrf_token %}
{{ form.email.errors }}
<h4><label for="id_email">{% trans 'Email address:' %}</label></h4>
<div class="row">
  <div class="col-sm-4">
  <input type="text" class="form-control" name="email" id="email" >
  </div>
  <div class="col-sm-4">
  <input type="submit" class="btn btn-default" value="{% trans 'Reset my password' %}"/>
  </div>
</div>

</form>
</div>
{% endblock %}


