{% extends "nuts/nuts_base.html" %}
{% load staticfiles %}

{% load i18n %}

{% block title %}Nuts Password Reset Confirm{% endblock %}
{% block css %}
<link href="{% static "nuts/css/account_manage.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="{% static 'nuts/css/AdminLTE.min.css' %}" rel="stylesheet">
    <link href="{% static 'nuts/css/chat.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block container %}

{% if validlink %}
<div class="row password-reset-div">
<h4>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</h4>

<form method="post">{% csrf_token %}
<!-- <p class="error">{{ form.new_password1.errors }}</p> -->

<h4 class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %} </label> {{ form.new_password1 }}</h4>
{{ form.new_password2.errors }}
<h4 class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %} </label> {{ form.new_password2 }}</h4>
<h4><input type="submit" class="btn btn-default" value="{% trans 'Change my password' %}" /></h4>
</form>

{% else %}
<h4>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</h4>
{% endif %}

</div>
{% endblock %}
