{% extends "nuts/nuts_base.html" %}

{% load staticfiles %}

{% block title %}Create plan{% endblock %}

{% block js %}
	<script src="{% static 'nuts/js/chat.js' %}"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBGRlvj79J09-DaBazSt1XLEQo1S394Mwg&libraries=places&sensor=false"></script>
    <script src="{% static 'nuts/js/mapsed.js' %}"></script>
    <script src="{% static 'nuts/js/searchmap.js' %}"></script>
{% endblock %}	

{% block css %}
<link href="{% static 'nuts/css/plan.css' %}" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
	<link href="{% static 'nuts/css/AdminLTE.min.css' %}" rel="stylesheet">
	<link href="{% static 'nuts/css/chat.css' %}" rel="stylesheet">
    <link href="{% static 'nuts/css/mapsed.css' %}" rel="stylesheet">


{% endblock %}

{% block notlog_navbar %}
{% endblock %}

{% block container %}
<div class="container col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
  <div class="block">
  <div class="block_content">
    <h2 id='nutTit'>Create a Nut</h2>
    <form method="post" action="{% url 'create_plan' %}">{% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group">
            {{field.label_tag}}
             <br>
            {{field}}
             <br>
            {{field.errors}}
            </div>
        {% endfor %}
        {% for field in form.hidden_fields %}
            <p class="error">{{ field }}</p>
        {% endfor %}
        <button type="button" onclick="needmap()">Add location</button>
        <p></p>
        <div id="search-for-places"></div>
        <p></p>
        <div class="right">
        <button type="submit" class="addbtn">Create</button>
        </div>
        <input type="hidden" name="lat" id="lat" />
       <input type="hidden" name="lng" id="lng" />
    </form>

</div>
</div></div>
{% endblock %}